.page-body {
	background-color: #f1f1f1;
}

.page-header .row.sign-up-sign-in-buttons {
	z-index: 5;
}
.page-header .row.user-account-toolar {
	z-index: 4;
}
.page-header .row.taijs-brand {
	z-index: 3;
}
.user-has-logged-in .page-header .row.sign-up-sign-in-buttons {
	display: none;
}
.user-has-logged-in .page-header .row.user-account-toolar {
	display: block;
}


.page-header {
	height: 6.4rem;
	overflow: hidden;
	transition-duration: 0.3s; 
	}
	.page-header-in-compact-mode .page-header *,
	.page-header {
		transition-delay: 0s;
	}

	.page-header *,
	.page-header-in-compact-mode .page-header {
		transition-delay: 0.1s;
	}
	.user-has-logged-in .page-header {
		height: 2.4rem;
	}


.page-header .row.taijs-brand {
	position: absolute; /* for stable transitions */
	left: 50%;
	top: 0;
	width: 12rem;
	padding: 0;
	margin: 1rem 0 0 -6rem;
	}
	.page-header .taijs-logo,
	.page-header .taijs-slogan {
		display: inline-block;
		vertical-align: top;
		width: 5rem;
		height: 1.4rem;
		background-position: center;
	}
	.page-header .taijs-logo {
		margin: 0 0.25rem 0 0.7rem;
		background-size: auto 100%;
	}
	.page-header .taijs-slogan {
		margin: 0;
		background-position: left;
		background-size: 100% auto;
	}


	.user-has-logged-in               .page-header .row.taijs-brand,
	.page.page-header-in-compact-mode .page-header .row.taijs-brand {
		left: 6.8rem;
		position: absolute;
		margin-top: 0.7rem;
		margin-bottom: 0;
		width: 4.8rem;
		}

		.user-has-logged-in               .page-header .taijs-logo,
		.user-has-logged-in               .page-header .taijs-slogan,
		.page.page-header-in-compact-mode .page-header .taijs-logo,
		.page.page-header-in-compact-mode .page-header .taijs-slogan {
			width: 4.8rem;
			height: 1.1rem;
			background-position: left;
		}
		.user-has-logged-in               .page-header .taijs-logo,
		.page.page-header-in-compact-mode .page-header .taijs-logo {
			margin: 0;
		}
		.user-has-logged-in               .page-header .taijs-slogan,
		.page.page-header-in-compact-mode .page-header .taijs-slogan {
			margin: 0;
			visibility: hidden;
			width: 0;
		}

	@media only screen and (max-width: 340px) {
		.page.page-header-in-compact-mode .page-header .taijs-slogan {
			visibility: hidden;
			width: 0;
		}
	}


.page-header .row.sign-up-sign-in-buttons {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	max-width: calc(768px + 3rem);
	left: 0;
	right: 0;
	top: 2.4rem;
	margin: 0 auto;
	padding: 0.75rem 1.25rem 0.75rem 1.25rem;
	text-align: right; /* for stable transition */
	}
	.page-header .row.sign-up-sign-in-buttons > .content {
		display: inline-block;
		width: 100%;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		background-color: inherit;
	}
	.page-header .row.sign-up-sign-in-buttons [role="button"],
	.page-header .row.sign-up-sign-in-buttons button {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0.25rem;
		height: 2rem;
		line-height: 1.9rem;
		line-height: calc(2rem - 2px);
		box-sizing: border-box;
		width: calc(50% - 0.5rem);
		font-size: 0.9rem;
	}

	.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons {
		box-sizing: border-box;
		width: 100%;
		max-width: none;
		height: 0;
		overflow: visible;
		text-align: right;
		white-space: nowrap;
		padding: 0;
		top: 0;
		}
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons > .content {
			width: 9.6rem;
			text-align: right;
			padding: 0.2rem;
		}
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons [role="button"],
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons button {
			width: 4.3rem;
			height: 1.5rem;
			line-height: 1.4rem;
			line-height: calc(1.5rem - 2px);
			font-size: 0.7rem;
		}

	@media only screen and (min-width: 512px) {
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons > .content {
			width: 15rem;
		}
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons [role="button"],
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons button {
			width: 7rem;
		}
	}

	@media only screen and (max-width: 380px) {
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons [role="button"],
		.page.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons button {
			width: 3.6rem;
		}
	}


.page-header .row.user-account-toolar {
	display: none;
	width: 100%;
	font-size: 0.7rem;
	text-align: right;
	margin: 0 0 2.5rem 0;
	padding: 0;
	height: 0;
	position: relative;
	right: 0;
	top: 0;
	overflow: visible;
	}
	.page-header .row.user-account-toolar .toolbar {
		height: 1rem;
		line-height: 1rem;
		padding: 0.75rem 0.6rem 0.75rem 0.1rem;
		white-space: nowrap;
		text-align: right;
		background-color: inherit;
	}

	.page.page-header-in-compact-mode .page-header .row.user-account-toolar {
		margin-bottom: 0;
	}


.user-assets-abstract {
	display: block;
	box-sizing: border-box;
	height: 4rem;
	}
	.user-assets-abstract > .f-list {
		display: none;
		padding: 0;
		margin: 0 -0.8rem;
	}
	.user-has-logged-in .user-assets-abstract > .f-list {
		display: block;
	}
	.page .row.user-assets-abstract-row {
		background-color: transparent;
	}
	.user-has-logged-in .row.user-assets-abstract-row {
		background-color: #4285f4;
	}

	.user-assets-abstract > .f-list > a > li,
	.user-assets-abstract > .f-list     > li {
		position: relative;
		margin: 0.5rem 0 0 0;
		height: 2.5rem;
		padding-bottom: 1.25rem;
	}
	.user-assets-abstract .col ~ hr.vert {
		height: 2.1rem;
		margin-top: 0.8rem;
		opacity: 0.2;
	}
	.user-assets-abstract .col.col-1 {
		width: 37%;
	}
	.user-assets-abstract .col.col-2 {
		width: 29%;
	}
	.user-assets-abstract .col.col-3 {
		width: 34%;
	}
	.user-assets-abstract .f-list > a > li > .content,
	.user-assets-abstract .f-list     > li > .content {
		font-size: 0.9rem;
	}
	.user-assets-abstract .f-list > a > li > .label,
	.user-assets-abstract .f-list     > li > .label {
		margin: 0;
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 0.35rem;
		font-weight: lighter;
		white-space: nowrap;
		opacity: 0.5;
	}
	.user-assets-abstract .f-list .col.col-1 > .label {
		padding-right: 1.25rem; /* make some room for eye icon */
		}
		.user-assets-abstract .f-list .col.col-1 > .label .sensitive-content-status-icon {
			position: absolute;
			width: 1rem;
			height: 1rem;
			margin: -0.2rem 0.1rem;
		}

	@media only screen and (max-width: 340px) {
		.user-assets-abstract .f-list .col.col-1 .sensitive-value-replacement {
			font-size: 0.7rem;
		}
	}
