#splash-block {
	overflow: hidden;

	color: white;

	background-color: #396d8b;
	background-image: 
		url(../../images/pages/index/splash-bg.jpg),
		linear-gradient(to bottom, #396d8b, #887252)
	;
	}


	.user-has-logged-in #splash-block {
		}

		.user-has-logged-in #splash-block #splash-slogan {
			margin-left: 175px;
			margin-top: 45px;
		}

		.user-has-logged-in #splash-block #splash-login-block {
			display: none;
		}

		.user-has-logged-in #splash-block #splash-credit-info-block {
			display: block;
		}
