html {
	color: #333;
	}


::-moz-selection {
	color: white!important;
	background-color: black!important;
	}

	::selection {
		color: white!important;
		background-color: black!important;
	}


::-webkit-input-placeholder { /* WebKit browsers */
	color: #999;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #999;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #999;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #999;
	}


.bg-transparent, [role="button"], a[role="button"] {
	background-color: transparent;
	}


.sensitive-value-replacement {
	background-color: white;
	}
	.color-inverted .sensitive-value-replacement {
		color: white;
		background-color: #4285f4;
	}


.copyright p {
	color: #999;
}


a, a:visited {
	color: #4285f4;
	}
	.row.menu-item:active,
	.row.interactive:active,
	.row.call-to-action:active,
	a:active > .content,
	a:active .hero-content-block,
	a:active .entity-body,
	a:active .row {
		background-color: rgba(0, 0, 0, 0.05);
	}


em {
	/* color: #ff7200; */
	color: #f60;
	}
	.favorite-entity-icon {
		color: #f60;
	}
	.summary-row em {
		color: #ff4200;
	  -webkit-text-stroke-width: 0.5px;
		text-shadow: 0 0 0.5px #ff4200;
	}
	strong {
		color: #4285f4;
	}


	.color-positive {
		color: #8ac45f;
		}
		.color-ok {
			color: #01bc4c;
		}
		/* .progress-stop.icon-failed::before, */
		.progress-stop.icon-failed .label,
		.color-negative,
		.input-tip.error,
		.color-error {
			color: #f00!important;
		}
		.color-warning {
			color: #f60!important;
		}
		.color-confirmed {
			color: #0f0!important;
		}
		.positive-value {
			color: #f60!important;
		}
		.negative-value {
			/* color: #2c9b01!important; */
			color: #00bb4b!important;
		}
		.color-promoted {
			color: #4285f4;
		}

		.minor-content,
		.tip {
			color: #999;
		}


.color-inverted {
	color: white;
	background-color: #4285f4;
	}
	.color-inverted.row  *,
	.color-inverted .row *,
	.color-inverted .row,
	.color-inverted .f-list > a > li .label,
	.color-inverted .f-list     > li .label,
	.color-inverted .f-list > a > li,
	.color-inverted .f-list     > li,
	.color-inverted a, .color-inverted a:visited {
		color: white;
	}


input {
	color: black;
	}

	select:hover,
	option:hover,
	input:hover,
	label:hover {
		border-color: #4285f4;
	}

	select:active,
	select:focus,
	input:active,
	input:focus,
	label:active,
	label:focus {
		border-color: #4285f4;
	}

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	a[role="button"],
	[role="button"],
	button {
		color: white;
		border-color: #4285f4;
		background-color: #4285f4;
	}

	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	a[role="button"]:hover,
	[role="button"]:hover,
	button:hover {
		background-color: #3f93ff;
	}

	input[type="button"]:disabled:hover,
	input[type="submit"]:disabled:hover,
	input[type="reset"]:disabled:hover,
	a[role="button"][disabled]:hover,
	[role="button"][disabled]:hover,
	button:disabled:hover,
	input[type="button"]:disabled,
	input[type="submit"]:disabled,
	input[type="reset"]:disabled,
	a[role="button"][disabled],
	[role="button"][disabled],
	button:disabled {
		color: #bdbdbd;
		border-color: #ddd;
		background-color: #ddd;
	}

	input[type="button"].disable-style-2:disabled:hover,
	input[type="submit"].disable-style-2:disabled:hover,
	input[type="reset"].disable-style-2:disabled:hover,
	a[role="button"].disable-style-2[disabled]:hover,
	[role="button"].disable-style-2[disabled]:hover,
	button.disable-style-2:disabled:hover,
	input[type="button"].disable-style-2:disabled,
	input[type="submit"].disable-style-2:disabled,
	input[type="reset"].disable-style-2:disabled,
	a[role="button"].disable-style-2[disabled],
	[role="button"].disable-style-2[disabled],
	button.disable-style-2:disabled {
		color: white;
		border-color: #cbcbcb;
		background-color: #cbcbcb;
	}

	input[type="reset"].color-white,
	input[type="button"].color-white,
	input[type="submit"].color-white,
	a[role="button"].color-white,
	[role="button"].color-white,
	button.color-white {
	    color: #4285f4;
	    border-color: white;
	    background-color: white;
	}

	.color-inverted input[type="reset"],
	.color-inverted input[type="button"],
	.color-inverted input[type="submit"],
	.color-inverted a[role="button"],
	.color-inverted [role="button"],
	.color-inverted button {
	    color: #4285f4;
	    border-color: white;
	    background-color: white;
	}

	input[type="reset"].bg-transparent,
	input[type="button"].bg-transparent,
	input[type="submit"].bg-transparent,
	a[role="button"].bg-transparent,
	[role="button"].bg-transparent,
	button.bg-transparent {
		color: #4285f4;
		background-color: transparent;
	}

	input[type="reset"].bg-transparent:hover,
	input[type="button"].bg-transparent:hover,
	input[type="submit"].bg-transparent:hover,
	a[role="button"].bg-transparent:hover,
	[role="button"].bg-transparent:hover,
	button.bg-transparent:hover {
		background-color: #e5f1ff;
	}

	.color-inverted input[type="reset"].bg-transparent,
	.color-inverted input[type="button"].bg-transparent,
	.color-inverted input[type="submit"].bg-transparent,
	.color-inverted a[role="button"].bg-transparent,
	.color-inverted [role="button"].bg-transparent,
	.color-inverted button.bg-transparent,
	input[type="reset"].bg-transparent.color-white,
	input[type="button"].bg-transparent.color-white,
	input[type="submit"].bg-transparent.color-white,
	a[role="button"].bg-transparent.color-white,
	[role="button"].bg-transparent.color-white,
	button.bg-transparent.color-white {
	    color: white;
	    /* border-color: white; */
	    border-color: rgba(255, 255, 255, 0.6);
	    background-color: transparent;
	}

	.color-inverted input[type="reset"].bg-transparent:hover,
	.color-inverted input[type="button"].bg-transparent:hover,
	.color-inverted input[type="submit"].bg-transparent:hover,
	.color-inverted a[role="button"].bg-transparent:hover,
	.color-inverted [role="button"].bg-transparent:hover,
	.color-inverted button.bg-transparent:hover,
	input[type="reset"].bg-transparent.color-white:hover,
	input[type="button"].bg-transparent.color-white:hover,
	input[type="submit"].bg-transparent.color-white:hover,
	a[role="button"].bg-transparent.color-white:hover,
	[role="button"].bg-transparent.color-white:hover,
	button.bg-transparent.color-white:hover {
	    background-color: rgba(255, 255, 255, 0.16)!important;
	}

	input[type="reset"].simple-look,
	input[type="button"].simple-look,
	input[type="submit"].simple-look,
	a[role="button"].simple-look,
	[role="button"].simple-look,
	button.simple-look .iconfont,
	button.simple-look {
		color: inherit;
		background-color: transparent;
	}
	input[type="reset"].simple-look:hover,
	input[type="button"].simple-look:hover,
	input[type="submit"].simple-look:hover,
	a[role="button"].simple-look:hover,
	[role="button"].simple-look:hover,
	button.simple-look:hover {
		background-color: transparent;
	}

	.dialog-footer input[type="reset"],
	.dialog-footer input[type="button"],
	.dialog-footer input[type="submit"],
	.dialog-footer a[role="button"],
	.dialog-footer [role="button"],
	.dialog-footer button {
		color: #333;
	}

	.dialog-footer input[type="reset"].promoted,
	.dialog-footer input[type="button"].promoted,
	.dialog-footer input[type="submit"].promoted,
	.dialog-footer a[role="button"].promoted,
	.dialog-footer [role="button"].promoted,
	.dialog-footer button.promoted,
	.dialog-footer input[type="reset"][button-action="confirm"],
	.dialog-footer input[type="button"][button-action="confirm"],
	.dialog-footer input[type="submit"][button-action="confirm"],
	.dialog-footer a[role="button"][button-action="confirm"],
	.dialog-footer [role="button"][button-action="confirm"],
	.dialog-footer button[button-action="confirm"] {
		color: #4285f4;
	}

	.page-body-stamp input[type="button"]:hover,
	.page-body-stamp input[type="submit"]:hover,
	.page-body-stamp input[type="reset"]:hover,
	.page-body-stamp a[role="button"]:hover,
	.page-body-stamp [role="button"]:hover,
	.page-body-stamp button:hover,
	.page-body-stamp input[type="button"],
	.page-body-stamp input[type="submit"],
	.page-body-stamp input[type="reset"],
	.page-body-stamp a[role="button"],
	.page-body-stamp [role="button"],
	.page-body-stamp button {
		color: #666;
		border-color: #dfdfdf;
		background-color: transparent;
	}

	a[role="button"].button-in-pseudo-slot:hover,
	a[role="button"].button-in-pseudo-slot,
	[role="button"].button-in-pseudo-slot:hover,
	[role="button"].button-in-pseudo-slot,
	button.button-in-pseudo-slot:hover,
	button.button-in-pseudo-slot {
		color: inherit;
		background-color: transparent;
	}


	input[type="reset"].simple-look,
	input[type="button"].simple-look,
	input[type="submit"].simple-look,
	a[role="button"].simple-look,
	[role="button"].simple-look,
	button.simple-look {
		color: #4285f4;
	}

	input[type="reset"].simple-look:hover .iconfont,
	input[type="reset"].simple-look:hover,
	input[type="button"].simple-look:hover .iconfont,
	input[type="button"].simple-look:hover,
	input[type="submit"].simple-look:hover .iconfont,
	input[type="submit"].simple-look:hover,
	a[role="button"].simple-look:hover .iconfont,
	a[role="button"].simple-look:hover,
	[role="button"].simple-look:hover .iconfont,
	[role="button"].simple-look:hover,
	button.simple-look:hover .iconfont,
	button.simple-look:hover {
		color: #4285f4;
		/* background-color: #e5f1ff; */
	}

	.pagination [role="button"],
	.pagination button {
		color: #666;
		background-color: transparent;
		}

		.pagination a[role="button"].page-number {
			border-color: transparent;
		}
		.pagination [role="button"],
		.pagination [role="button"].page-number:link,
		.pagination button {
			border-color: #dadada;
		}

		.pagination [role="button"].page-number:hover {
			background-color: transparent;
		}
		.pagination [role="button"]:hover,
		.pagination [role="button"].page-number:link:hover,
		.pagination button:hover {
			background-color: #f3f3f3;
		}

		.pagination [role="button"].page-number.current,
		.pagination button.page-number.current {
			color: white;
			border-color: #4285f4;
			background-color: #4285f4;
		}
		.pagination [role="button"].current:hover,
		.pagination button.current:hover {
			background-color: #3f93ff;
		}

	a[role="button"]:active,
	a[role="button"]:focus,
	button:active,
	button:focus {
		outline-color: #4285f4;
	}


.color-inverted hr {
	border-color: white;
	background-color: white;
}


button.button-x {
	background-color: transparent;
	color: #666;
	}


button[button-action="clear-input-field"]:hover,
button[button-action="clear-input-field"] {
	color: white;
	background-color: transparent;
	}
	button[button-action="clear-input-field"]::before {
		color: white;
		background-color: #adadad;
	}

	.search-block button[button-action="clear-input-field"]::before {
		background-color: transparent;
	}


label.deco-input {
	}

	input[type="radio"]    + label.deco-input[for],
	input[type="checkbox"] + label.deco-input[for] {
		background-color: transparent;
		}
		input[type="radio"] + label.deco-input[for]::before {
			/* color: #c5c5c5; */
			}
			input[type="radio"]:hover + label.deco-input[for]::before,
			input[type="radio"] + label.deco-input[for]:hover::before {
				color: #333;
			}
			input[type="radio"]:checked + label.deco-input[for]::before {
				border-color: #4285f4;
			}
			input[type="radio"]:checked + label.deco-input[for]::after {
				background-color: #4285f4;
			}


		input[type="checkbox"] + label.deco-input[for]::before {
			/* border-color: #c5c5c5; */
			}
			/* input[type="checkbox"]:hover + label.deco-input[for]::before,
			input[type="checkbox"] + label.deco-input[for]:hover::before {
				border-color: #333;
			} */
			input[type="checkbox"]:checked + label.deco-input[for]::before {
				border-color: #4285f4;
			}
			input[type="checkbox"]:checked + label.deco-input[for]::after {
				color: #4285f4;
			}


		.selected input[type="radio"] + label.deco-input[for]::before {
			border-color: white;
		}
		.selected input[type="radio"] + label.deco-input[for]::after {
			background-color: white;
		}
		.selected input[type="checkbox"] + label.deco-input[for]::before {
			border-color: rgba(255, 255, 255, 0.75);
			background-color: transparent;
		}
		.selected:hover input[type="checkbox"]       + label.deco-input[for]::before,
		.selected       input[type="checkbox"]:hover + label.deco-input[for]::before,
		.selected       input[type="checkbox"]       + label.deco-input[for]:hover::before {
			border-color: white;
		}
		.selected input[type="checkbox"] + label.deco-input[for]:after {
			color: white;
		}


.fixed-count-chars-input-block {
	}
	.fixed-count-chars-input-block .width-wrapper {
		color: black;
		border-color: #d9d9d9;
		background-color: white;
	}
	.fixed-count-chars-input-block.has-fake-caret .deco-grid.focus::after {
		background-color: black;
	}
	.fixed-count-chars-input-block .deco-grid.focus {
		/* background-color: #cfc; */
	}
	.fixed-count-chars-input-block .deco-grid.value-invalid {
		background-color: #fcc;
	}
	.fixed-count-chars-input-block.disabled .deco-grid.focus,
	.fixed-count-chars-input-block.disabled .deco-grid.value-invalid,
	.fixed-count-chars-input-block.disabled .deco-grid {
		color: #999;
		background-color: #f1f1f1;
	}


.corner-marker {
	color: white;
	border-color: #ff291d;
	background-color: #ff291d;
	}


.progress-bar {
	}

	.color-inverted .progress-bar {
		}

		.color-inverted .progress-bar .progress-range {
			background-color: rgba(255, 255, 255, 0.3);
		}

		.color-inverted .progress-bar .current-progress {
			background-color: #ffda10;
		}

		.color-inverted .progress-bar .current-progress-dot {
			background-color: white;
		}

		.progress-bar .label {
		}


.progress-rings .ring {
	border-color: #eaeaea;
	}
	.progress-rings .ring .half {
		border-color: #f60;
	}
 	/* .progress-rings .ring .half-1 .half{
		border-color: rgba(0, 0, 255, 0.4);
	}
	.progress-rings .ring .half-2 .half{
		border-color: rgba(255, 0, 0, 0.4);
	} */


.progress-stops {
	}
	.progress-stops .progress-stop,
	.progress-stops           > li {
		color: #999;
		border-color: #cfcfcf;
	}

	.progress-stops.layout-hori .progress-stop::before,
	.progress-stops.layout-hori           > li::before {
		background-color: #cfcfcf;
	}

	.progress-stops.layout-vert .progress-stop.future-stop::after,
	.progress-stops.layout-vert .progress-stop.future-stop::before,
	.progress-stops.layout-vert           > li.future-stop::after,
	.progress-stops.layout-vert           > li.future-stop::before {
		color: #cfcfcf;
	}

	.progress-stops.progress-stops-style-decimal .progress-stop,
	.progress-stops.progress-stops-style-decimal           > li {
		color: #cecece;
	}

	.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(8),
	.progress-stops[data-progress-current-stop="8"]           > li:nth-child(8),
	.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(7),
	.progress-stops[data-progress-current-stop="7"]           > li:nth-child(7),
	.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(6),
	.progress-stops[data-progress-current-stop="6"]           > li:nth-child(6),
	.progress-stops[data-progress-current-stop="5"] .progress-stop:nth-child(5),
	.progress-stops[data-progress-current-stop="5"]           > li:nth-child(5),
	.progress-stops[data-progress-current-stop="4"] .progress-stop:nth-child(4),
	.progress-stops[data-progress-current-stop="4"]           > li:nth-child(4),
	.progress-stops[data-progress-current-stop="3"] .progress-stop:nth-child(3),
	.progress-stops[data-progress-current-stop="3"]           > li:nth-child(3),
	.progress-stops[data-progress-current-stop="2"] .progress-stop:nth-child(2),
	.progress-stops[data-progress-current-stop="2"]           > li:nth-child(2),
	.progress-stops[data-progress-current-stop="1"] .progress-stop:first-child,
	.progress-stops[data-progress-current-stop="1"]           > li:first-child,
	.progress-stops .progress-stop.current-stop,
	.progress-stops           > li.current-stop {
		color: #4285f4;
	}

	.progress-stops .progress-stop.past-step,
	.progress-stops           > li.past-step {
		color: #4285f4;
	}

	/* all past nodes: begin */
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(8),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(8),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(7),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(7),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(6),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(6),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(5),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(5),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(4),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(4),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="8"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="8"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="8"]           > li:first-child,

		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(7),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(7),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(6),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(6),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(5),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(5),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(4),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(4),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="7"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="7"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="7"]           > li:first-child,

		.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(6),
		.progress-stops[data-progress-current-stop="6"]           > li:nth-child(6),
		.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(5),
		.progress-stops[data-progress-current-stop="6"]           > li:nth-child(5),
		.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(4),
		.progress-stops[data-progress-current-stop="6"]           > li:nth-child(4),
		.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="6"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="6"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="6"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="6"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="6"]           > li:first-child,

		.progress-stops[data-progress-current-stop="5"] .progress-stop:nth-child(5),
		.progress-stops[data-progress-current-stop="5"]           > li:nth-child(5),
		.progress-stops[data-progress-current-stop="5"] .progress-stop:nth-child(4),
		.progress-stops[data-progress-current-stop="5"]           > li:nth-child(4),
		.progress-stops[data-progress-current-stop="5"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="5"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="5"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="5"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="5"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="5"]           > li:first-child,

		.progress-stops[data-progress-current-stop="4"] .progress-stop:nth-child(4),
		.progress-stops[data-progress-current-stop="4"]           > li:nth-child(4),
		.progress-stops[data-progress-current-stop="4"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="4"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="4"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="4"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="4"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="4"]           > li:first-child,

		.progress-stops[data-progress-current-stop="3"] .progress-stop:nth-child(3),
		.progress-stops[data-progress-current-stop="3"]           > li:nth-child(3),
		.progress-stops[data-progress-current-stop="3"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="3"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="3"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="3"]           > li:first-child,

		.progress-stops[data-progress-current-stop="2"] .progress-stop:nth-child(2),
		.progress-stops[data-progress-current-stop="2"]           > li:nth-child(2),
		.progress-stops[data-progress-current-stop="2"] .progress-stop:first-child,
		.progress-stops[data-progress-current-stop="2"]           > li:first-child {
			color: #4285f4;
			/* border-color: #4285f4; */
			/* background-color: #4285f4; */
		}
	/* all past nodes: end */

	.progress-stops.progress-stops-style-1 .progress-stop > .floating-tip,
	.progress-stops.progress-stops-style-1           > li > .floating-tip,
	.progress-stops.progress-stops-style-1 .progress-stop > .label,
	.progress-stops.progress-stops-style-1           > li > .label {
		color: #333;
	}

	.progress-stops.progress-stops-style-1 .progress-stop.emphasis .floating-tip .tip-balloon,
	.progress-stops.progress-stops-style-1 .progress-stop.emphasis::before,
	.progress-stops.progress-stops-style-1           > li.emphasis .floating-tip .tip-balloon,
	.progress-stops.progress-stops-style-1           > li.emphasis::before {
		color: white;
		/* background-color: #ff3700; */
		background-color: #f60;
	}

	.progress-stops.layout-vert .progress-stop > .label .minor,
	.progress-stops.layout-vert           > li > .label .minor {
		color: #999;
	}
	.progress-stops.layout-vert .progress-stop > .content,
	.progress-stops.layout-vert           > li > .content {
		color: #666;
	}


.count-down-disc {
	color: #f60;
	}
	.f-block .count-down-disc,
	.count-down-disc {
		border-color: initial;
		border-color: #f60; /* for IE 11 */
	}

	.count-down-disc.time-out {
		color: #999;
		border-color: #eaeaea;
		background-color: #eaeaea;
		}


.f-list > li > .label {
	color: #999;
}


.f-list.fund-net-worth-trend-chart-legend {
	}

	.f-list.fund-net-worth-trend-chart-legend > li.line-color-1 .legend-symbol {
		background-color: #4285f4;
	}
	.f-list.fund-net-worth-trend-chart-legend > li.line-color-2 .legend-symbol {
		background-color: #f60;
	}


.filters {}
	.filters .filter.current,
	.filters .filters-label {
		color: #4285f4;
	}


.banner {
	background-color: white;
}


.carousel {
	background-color: white;
	}
	.carousel-nav button::before {
		opacity: 0.16;
		background-color: black;
	}
	.carousel-nav button:hover::before {
		opacity: 1;
		background-color: #4285f4;
	}
	/* .carousel-nav button.swiper-pagination-bullet-active:hover::before, */
	.carousel-nav button.swiper-pagination-bullet-active::before,
	/* .carousel-nav button.current:hover::before, */
	.carousel-nav button.current::before {
		opacity: 1;
		background-color: #4285f4;
	}


.dialog {
	}

	.dialog.dialog-style-card > .deco,
	.dialog-header,
	.dialog-footer,
	.dialog-body {
		background-color: white;
	}

	.dialog.dialog-style-card > .deco .concave-pies {
		color: white;
	}

	.dialog.dialog-style-card .dialog-header .hero-content-block,
	.dialog-header {
		color: black;
		}

	.dialog {
		border-color: #dadada;
	}

	.dialog.dialog-style-card .dialog-body > .content *,
	.dialog.dialog-style-card .dialog-body > .content {
		border-color: #ececec;
	}

	.dialog.dialog-style-card .dialog-body > .content article ul > li *,
	.dialog.dialog-style-card .dialog-body > .content article {
		color: black;
	}

	.dialog.dialog-style-card .dialog-body > .content article ul > li {
		color: #999;
	}


dl.tickets-list {
	}

	dl.tickets-list dt {
		color: #333;
	}
	dl.tickets-list dd {
		color: #999;
	}

.ticket {
	}
	.ticket-chief-part .foot-notation .tip,
	.ticket-chief-part .foot-notation,
	.ticket-chief-part,
	.ticket .ticket-head > .content {
		color: white;
	}
	.ticket.ticket-functional .caption {
		color: #fff700;
	}
	.ticket.ticket-not-functional .ticket-chief-part {
		background-color: #ddd;
	}
	.ticket.ticket-not-functional .caption {
		color: #b5b5b5;
	}

	.ticket-of-category-ti-yan-jin .ticket.ticket-functional .ticket-chief-part,
	.ticket.ticket-functional.ticket-of-category-ti-yan-jin  .ticket-chief-part {
		background-color: #64c913;
	}
	.ticket-of-category-ti-yan-jin .ticket.ticket-functional .ticket-head,
	.ticket.ticket-functional.ticket-of-category-ti-yan-jin  .ticket-head {
		color: #53b802;
		background-color: #53b802;
	}
	.ticket-of-category-di-yong .ticket.ticket-functional .ticket-chief-part,
	.ticket.ticket-functional.ticket-of-category-di-yong  .ticket-chief-part {
		background-color: #ff4c84;
	}
	.ticket-of-category-di-yong .ticket.ticket-functional .ticket-head,
	.ticket.ticket-functional.ticket-of-category-di-yong  .ticket-head {
		color: #ee3871;
		background-color: #ee3871;
	}
	.ticket-of-category-te-quan-ben-jin .ticket.ticket-functional .ticket-chief-part,
	.ticket.ticket-functional.ticket-of-category-te-quan-ben-jin  .ticket-chief-part {
		background-color: #8b6de9;
	}
	.ticket-of-category-te-quan-ben-jin .ticket.ticket-functional .ticket-head,
	.ticket.ticket-functional.ticket-of-category-te-quan-ben-jin  .ticket-head {
		color: #8161e2;
		background-color: #8161e2;
	}
	.ticket-of-category-jia-xi .ticket.ticket-functional .ticket-chief-part,
	.ticket.ticket-functional.ticket-of-category-jia-xi  .ticket-chief-part {
		background-color: #3e82f7;
	}
	.ticket-of-category-jia-xi .ticket.ticket-functional .ticket-head,
	.ticket.ticket-functional.ticket-of-category-jia-xi  .ticket-head {
		color: #3273e5;
		background-color: #3273e5;
	}
	.ticket-of-category-hong-bao .ticket.ticket-functional .ticket-chief-part,
	.ticket.ticket-functional.ticket-of-category-hong-bao  .ticket-chief-part {
		background-color: #f53921;
	}
	.ticket-of-category-hong-bao .ticket.ticket-functional .ticket-head,
	.ticket.ticket-functional.ticket-of-category-hong-bao  .ticket-head {
		color: #e32c21;
		background-color: #e32c21;
	}



.f-block { /* function-block */
	color: #666;
	}
	.f-block-body {
		background-color: white;
	}

	.row.input-field.style-traditional,
	.f-block-body {
		border-color: #e5e5e5;
	}
	.f-block-body *,
	.f-block-body .row {
		border-color: #f1f1f1;
	}

	.f-block-body a .entity-body,
	.f-block-body a .row,
	.f-block-body {
		color: #333;
	}
	a .row::after,
	.f-block-body a .right::after,
	  .row.call-to-action::after {
		color: #999;
	}

	.row.select-field .right,
	.row.input-field  .right,
	.row              .left {
		color: #999;
	}

	.f-block .row h3,
	.f-block .row h2,
	.f-block .row h1 {
		color: black;
	}

	.row h3,
	.row h4,
	.row h5,
	.emphasise-leftside  .row  .left,
	.emphasise-rightside .row  .right,
	.emphasise-both-sides .row .left,
	.emphasise-both-sides .row .right,
	.row.emphasise-both-sides  .left,
	.row.emphasise-both-sides  .right,
	.row.emphasise-leftside    .left,
	.row.emphasise-rightside   .right {
		color: black;
	}
	.row sub {
		color: #666;
	}

	.row.caption-bar .label {
		color: #666;
	}

	.row.input-field input:focus ~ .input-tip.default {
		color: #4285f4;
	}
	.row.input-field.input-image-vcode .right {
		background-color: #e5e5e5;
	}
	.dialog .row.input-field.input-image-vcode input {
		background-color: #e5e5e5;
	    -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
	}

	.f-block-body .row.multi-lines h4,
	.f-block-body .row.multi-lines h5 {
		color: black;
	}

	.f-block-body .row.multi-lines .left  * ~ p,
	.f-block-body .row.multi-lines .left  p,
	.f-block-body .row.multi-lines .right * ~ p,
	.f-block-body .row.multi-lines .right p {
		color: #666;
	}

	.row.entity-properties .right .label,
	.row.entity-properties .left  .label {
		color: #999;
	}
	.row.entity-properties .right .content,
	.row.entity-properties .left  .content {
		color: black;
	}


.f-block .tiles > a > .tile,
.f-block .tiles     > .tile {
	color: #666;
	border-color: #e5e5e5;
	}
	.f-block .tiles.gold-list .tile .label.user-name {
		color: #ffad2c;
	}
	.f-block .tiles.gold-list .tile .label.amount {
		color: white;
		background-color: #ffad2c;
	}


.product-caption-block {
	}
	.product-caption-block {
		color: black;
	}
	.row .product-caption-block sub,
	.product-caption-block sub {
		color: #999;
	}


.hero-content-block {
	color: #999;
	}
	.hero-content-block .subject {
		color: #333;
	}
	.color-inverted .hero-content-block,
	.page-header    .hero-content-block {
		color: white;
		}
		.color-inverted .hero-content-block .subject,
		.page-header    .hero-content-block .subject {
			color: white;
		}
		.color-inverted .hero-content-block .digits,
		.page-header    .hero-content-block .digits {
			color: white;
		}
		.color-inverted .hero-content-block em,
		.page-header    .hero-content-block em {
			color: white;
		}
	.hero-content-block.hero-content-block-style-6 .hero-content-features > .f-list > li .content {
		color: black;
	}


.fund-trading-record .f-block-body .row.multi-lines .right .amount {
	color: #333;
}


.markers {

	}
	.marker {
	}
    .product-caption-block sub.marker.marker-ke-zhuan-rang,
                              .marker.marker-ke-zhuan-rang { 
		color: #4285f4;
	}
    .product-caption-block sub.marker.marker-ke-yong-quan,
                              .marker.marker-ke-yong-quan { 
		color: #fb5f5f;
	}
    .product-caption-block sub.marker.marker-jia-xi,
                              .marker.marker-jia-xi { 
		color: #3274e5;
	}
    .product-caption-block sub.marker.marker-di-yong,
                              .marker.marker-di-yong { 
		color: #ee3871;
	}
    .product-caption-block sub.marker.marker-te-quan-ben-jin,
                              .marker.marker-te-quan-ben-jin { 
		color: #8161e2;
	}
    .product-caption-block sub.marker.marker-buy-in,
                              .marker.marker-buy-in { 
		color: #f60;
	}
    .product-caption-block sub.marker.marker-sale-out,
                              .marker.marker-sale-out { 
		color: #1d6eff;
	}
	.abstract-title .marker.marker-product-category-newbie {
		color: white;
		border-color: #f60;
		background-color: #f60;
	}

.keyword {
	color: #333;
	border-color: #e0e0e0;
	}
	.keyword:hover {
		background-color: rgba(255, 255, 255, 0.75);
	}	


.f-list.filters {
	}
	.f-list.filters.filter-type-regular {
		}
		ul.f-list.filters.filter-type-regular > li.filter > .label {
			color: #333;
			background-color: #eee;
		}
		ul.f-list.filters.filter-type-regular > li.filter.promoted > .label {
			color: white;
			background-color: #4285f4;
		}


.ruler > .f-list .ruler-scale-chief         > .label.current,
.ruler > .f-list .ruler-scale-chief.current > .label {
	color: #4285f4;
}


.color-inverted .menu.level-1,
.header-bar     .menu.level-1 {
	background-color: transparent;
	}
	.menu-item.has-sub-menu .menu {
		background-color: white;
	}

	.menu.layout-vert > .menu-item > a > .sub-menu-hint,
	.menu.layout-vert > .menu-item > a > .label,
	.menu.layout-vert > .menu-item     > .label {
		color: #333;
	}

	.menu.layout-vert > .menu-item                > a > .label:hover,
	.menu.layout-vert > .menu-item                    > .label:hover,
	.menu.layout-vert > .menu-item.coupled-shown  > a > .label,
	.menu.layout-vert > .menu-item.coupled-shown      > .label,
	.menu.layout-vert > .menu-item.current-parent > a > .label,
	.menu.layout-vert > .menu-item.current-parent     > .label,
	.menu.layout-vert > .menu-item.current        > a > .label,
	.menu.layout-vert > .menu-item.current            > .label {
		color: #4285f4;
	}

	.menu.layout-vert > .menu-item:hover,
	.menu.layout-vert > .menu-item:active {
		background-color: rgba(0, 0, 0, 0.05);
	}

	/* .menu.layout-vert > .menu-item                > a > .label:hover,
	.menu.layout-vert > .menu-item                    > .label:hover,
	.menu.layout-vert > .menu-item                > a > .label:active,
	.menu.layout-vert > .menu-item                    > .label:active {
		background-color: rgba(0, 0, 0, 0.05);
	} */

	.row.header-bar .menu.level-2 {
		border-color: #ececec;
	}


.tabular {
	color: #333;
	}
	.tabular > .header {
		color: #999;
	}
	.tabular > .f-list > li {
		color: #999;
		border-color: #dcdcdc;
	}
	.tabular > .f-list > li > a > .content,
	.tabular > .f-list > li     > .content {
		color: #333;
	}
	.f-block > .tabular > .f-list > li > a > .content,
	.f-block > .tabular > .f-list > li     > .content {
		color: #999;
	}
	.f-block-body .tabular > .f-list > li .content .cell.caption-cell {
		color: black;
	}
	.tabular > .f-list > li .cell.timestamp {
		color: #999;
	}
	.tabular.search-panel-owned-po-list .caption-cell h4 {
		color: #999;
	}
	.tabular.funds-chargeback-list .caption-cell h4 {
		color: #999;
	}
	.tabular .f-list.key-value-pairs .cell.first-cell {
		color: #999;
	}


.entity-info {
	}
	.entity-info > h5 {
		color: #999;
	}
	.entity-info.entity-time-limited.entity-out-of-time {
		}
		.entity-info.entity-time-limited.entity-out-of-time em {
			color: #333;
		}


.info-row {
	background-color: #f1f1f1;
	}


.product-abstract {
	}
	.product-abstract .abstract-title h3 {
		color: black;
	}
	/* .product-abstract .abstract-title .call-to-action-label {
		color: black;
	} */
	.product-abstract .minor-hero-block .hero-word,
	.product-abstract .hero-block {
		color: black;
	}
	.product-abstract .minor-hero-block {
		color: #999;
	}
	.product-abstract .minor-hero-block .subtitle,
	.product-abstract .hero-block       .subtitle {
		color: #999;
	}

	.row.fixed-income-record-detail-asset-abstract .left h4 {
		color: #666;
	}
	.row.fixed-income-record-detail-asset-abstract .left .digits {
		color: black;
	}


.tab-panel-set {
	}

	.tab-list.tabs-style-simple > li {
		background-color: #f2f2f2;
	}

	.tab-list.tabs-style-regular {
		color: black;
		background-color: white;
		}
		.tab-list.tabs-style-regular > li {
			background-color: transparent;
		}

	.tab-list > .current-item-hint {
		background-color: #4285f4;
	}

	.tab-list > li.current {
		color: #4285f4;
		background-color: white;
	}

	.tab-list.tabs-style-buttons > li {
		border-color: #ddd;
		background-color: white;
	}
	.tab-list.tabs-style-buttons > li.current {
		color: white;
		background-color: #157dff;
	}


.slot {
	}

	.slot.slot-bank-card {
		background-color: #ddd; /* simply a default value */
		}
		.slot.slot-bank-card .icon.icon-of-bank {
			background-color: white;
		}
		.slot.slot-bank-card {
			color: white;
		}
		.slot.slot-bank-card.slot-pseudo {
			color: #999;
			background-color: white;
		}
		.slot.slot-bank-card.bank-cn-icbc {
			background-color: #ff5060;
		}
		.slot.slot-bank-card.bank-cn-ccb {
			background-color: #4d8ce9;
		}


.chart-block {
	}
	.chart-block .echart-tooltip {
		background-color: rgba(66, 133, 244, 0.8);
		box-shadow: 0 0 7px rgba(11, 22, 41, 0.3);
	}
	.chart-block .echart-tooltip .f-list .label,
	.chart-block .echart-tooltip .f-list .value {
		color: white;
	}


.popup-layer {
	}
	.popup-layer.polite-message .popup-window {
		color: white;
		background-color: rgba(0, 0, 0, 0.66);
	}


.popup-panel {
	background-color: #f8f8f8;
	border-color: #d9d9d9;
	}
	.popup-panel.bg-light-gray {
		background-color: #f1f1f1;
	}
	.popup-panel .popup-panel-header h1 {
		color: black;
	}

	.popup-panel .header-bar a[role="button"],
	.popup-panel .header-bar [role="button"],
	.popup-panel .header-bar button {
		color: #999;
	}


.page {
	color: #666;
	}
	.page.has-header-bg .page-body > .content-with-solid-bg,
	.page .covering-layer,
	.page {
		background-color: #f1f1f1;
	}
	.page.has-header-bg::before,
	.page.has-header-bg .page-header {
		background-image: url(../../images/_common/page-header-bg-extended-small.jpg);
	}
	.page.has-header-bg::after {
		background-image: linear-gradient(to bottom, rgba(62, 90, 215, 0) 14rem, #f1f1f1 26rem);
	}

	.page-header .search-block,
	.page-header {
		background-color: #4285f4;
	}
	.page-header .row *,
	.page-header .row,
	.page-header {
		color: white;
	}
	.page-header input {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.page-footer {
		background-color: white;
	}
	.page-footer hr,
	.page-footer {
		border-color: #e5e5e5;
	}
	.page-footer .row.buttons-in-single-line.columns.button-simple-style .col a[role="button"]:active,
	.page-footer .row.buttons-in-single-line.columns.button-simple-style .col [role="button"]:active,
	.page-footer .row.buttons-in-single-line.columns.button-simple-style .col button:active {
		color: white;
		background-color: #4285f4;
	}

	.page.bg-white.has-header-bg .page-body > .content-with-solid-bg,
	.page.bg-white {
		background-color: white;
	}
	.page.bg-white.has-header-bg::after {
		background-image: linear-gradient(to bottom, rgba(62, 90, 215, 0) 14rem, white 26rem);
	}

	.page::before,
	.page.has-header-bg .page-header {
		background-color: rgb(62, 90, 215);
	}


.page-body-stamp {
	margin-top: 2rem;
	}
	.page-body-stamp article {
		color: #999;
	}
	.page-body-stamp article h4 {
		color: #666;
	}


.search-promoted-keywords-panel {
	}
	.search-promoted-keywords-panel .search-history-records > li,
	.search-promoted-keywords-panel .row {
		border-color: #e0e0e0;
	}
	.search-promoted-keywords-panel .search-history-records > li:hover {
		background-color: rgba(255, 255, 255, 0.75);
	}
	.search-promoted-keywords-panel .row.section-title h3 {
		color: #666;
	}
	.search-promoted-keywords-panel .row.section-title h3 .iconfont {
		color: #999;
	}


.search-result-records-panel {
	}
	.search-result .icon.favorite-entity-icon {
		color: #4285f4;
	}
	.search-result em {
		color: #4285f4;
	}
	.search-result {
		border-color: #f1f1f1;
	}