html, body, button, textarea, input, select, option, .font-default {
	font-family: 'Noto Sans', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Microsoft Yahei UI', 'Microsoft Yahei', 'Helvetica', Arial, 'Lucida Grande', 'SimHei', Sans-Serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 12px;
}

.em-digits {
	font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, 'Microsoft Yahei UI', 'Microsoft Yahei', Sans-Serif;
	font-weight: lighter;
}