html, body, .app {
	height: 100%;
	}


button.nav-share::before,
button.nav-home::before,
button.nav-back::before,
[role="button"].nav-home::before,
[role="button"].nav-share::before,
[role="button"].nav-back::before {
	font-family: 'iconfont'!important;
	font-size: 20px;
	font-style: normal!important;
	font-weight: normal!important;
	-webkit-font-smoothing: antialiased;
	/* -webkit-text-stroke-width: 0.2px; */
	-moz-osx-font-smoothing: grayscale;
	}

	button.nav-home::before,
	[role="button"].nav-home::before {
		content: '\e604';
	}
	button.nav-back::before,
	[role="button"].nav-back::before {
		content: '\e603';
	}
	button.nav-share::before,
	[role="button"].nav-share::before {
		content: '\e618';
	}


.favorite-entity-icon::before {
	font-family: 'iconfont'!important;
	content: '\e619';
}


.taijs-logo.image {
	display: block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../../images/taijs-brand/taijs-logo-white-bg-transparent-large-cropped.png);

	box-sizing: border-box;
	padding: 1px; /* prevent block from merging margins with neighbours */
	}

	.taijs-slogan.image {
		display: block;
		width: 100px;
		height: 100px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url(../../images/taijs-brand/taijs-slogan-white-bg-transparent-large-cropped.png);
		opacity: 0.6;

		box-sizing: border-box;
		padding: 1px; /* prevent block from merging margins with neighbours */
	}


.digits.percentage-value::after {
	content: '%';
	font-size: 0.5em;
}

article.message {
	text-align: center;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	}
	article.message h3 {
		font-weight: 500;
	}
	article.message p {
		font-size: 0.8rem;
		letter-spacing: 0.075em;
	}
	/* article.message p:last-child {
		margin-bottom: 0;
	} */

	article.message .info-subject-symbol {
		margin: 0.1rem auto 0.1rem auto;
		}
		article.message .info-subject-symbol .iconfont,
		article.message .info-subject-symbol {
			font-size: 3rem;
		}


.input-tip {
	font-size: 0.6rem;
	visibility: hidden;
	opacity: 0;
	transition-property: visibility, opacity;
	transition-duration: 0.30s;
	}


.single-char-inputs-set {
	text-align: center;
	}
	.row > .single-char-inputs-set {
		padding: 0;
	}
	.single-char-inputs-set input.single-char-input {
		margin: 0;
		padding: 0;
		width: 2.5rem;
		height: 2.5rem;
		line-height: 2.4rem;
		font-size: 1.5rem;
		text-align: center;
		box-sizing: border-box;
	}
	.single-char-inputs-set input.single-char-input ~ input.single-char-input {
		border-left-width: 0;
	}
	.single-char-inputs-set input.single-char-input:first-child {
		border-radius: 0.2rem 0 0 0.2rem;
	}
	.single-char-inputs-set input.single-char-input:last-child {
		border-radius: 0 0.2rem 0.2rem 0;
	}

	.single-char-inputs-set.inputs-distribution-full-width {
		max-width: 512px;
		margin-left: auto;
		margin-right: auto;
		}
		.single-char-inputs-set.inputs-distribution-full-width input.single-char-input {
			width: 16.666%;
		}


.row, .f-block, .f-block-body, .f-block .row.full-width {
	box-sizing: content-box;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	}
	.row .right {
		margin-right: 0.8rem;
	}
	.f-block .row.full-width,
	.f-block .row,
	.f-block-body {
		margin-left: -0.8rem;
		margin-right: -0.8rem;
	}


.row {
	white-space: nowrap;
	}

	.row * {
		white-space: normal;
	}

	.hide-borders > .row,
	.row.hide-borders {
		border-style: none;
	}

	.row.buttons-in-single-line {
		margin-top: 1rem;
		margin-bottom: 1rem;
		position: relative;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.f-block .row.padding-top-taller,
	.row.padding-top-taller {
		padding-top: 1rem;
	}

	.row.buttons-in-single-line + .row.buttons-in-single-line {
		margin-top: 0rem;
	}

	.page-footer .row.buttons-in-single-line {
		margin-top: 0;
		margin-bottom: 0;
	}

	.row.buttons-in-single-line [role="button"],
	.row.buttons-in-single-line button {
		margin-left: auto;
		margin-right: auto;
	}

	.row.buttons-in-single-line .size-std-wide {
		width: 100%;
		height: 2.3rem;
		max-width: 512px;
		box-sizing: border-box;
	}

	.row.select-field,
	.row.input-field {
		padding-top: 0;
		padding-bottom: 0;
		}
		.row.select-field select,
		.row.input-field  input {
			margin: 0.5rem 0;
			padding: 0;
			height: 2.2rem;
			line-height: 2.2rem;
			border-width: 0;
			width: 100%;
		}
		.row.select-field select {
			margin-right: -2rem;
		}
		.row.input-field input {
			transition-property: margin, height;
		}


		.row.input-field input:focus,
		.row.input-field input.non-empty-field {
			margin-top: 1.6rem;
			margin-bottom: 0;
			height: 1.6rem;
			line-height: 1.6rem;
			}
			.row.input-field input:focus::-webkit-input-placeholder { /* WebKit browsers */
				opacity: 0.1;
			}
			.row.input-field input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
				opacity: 0.1;
			}
			.row.input-field input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				opacity: 0.1;
			}
			.row.input-field input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
				opacity: 0.1;
			}


		.row.input-field .input-tip {
			position: absolute;
			left: 0;
			top: 0.6rem;
			}

			.row.input-field input:focus ~ .input-tip.default,
			.row.input-field input.non-empty-field ~ .input-tip.default {
				visibility: visible;
				opacity: 1;
			}

			.row.input-field input.value-invalid:focus ~ .input-tip.default {
				opacity: 0!important;
			}


	.row > div {
		padding: 0.2rem 0.5rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}

	.row > h6,
	.row > h5,
	.row > h4,
	.row > h3,
	.row > h2,
	.row > h1,
	.row > p {
		padding: 0.2rem 0.5rem;
		margin: -0.2rem -0.5rem;
	}

	.row .left,
	.row .right {
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 0.5rem + 2rem);
		}
		.row .left {
			text-align: left;
			margin-right: -2rem;
		}
		.row .right {
			text-align: right;
			margin-left: -2rem;
		}
		.row.leftside-wider .left {
			width: 80%;
			margin-right: -0.5rem;
		}
		.row.leftside-wider .right {
			width: 20%;
			margin-left: -0.5rem;
		}
		.row.rightside-wider .left {
			width: 20%;
			margin-right: -0.5rem;
		}
		.row.rightside-wider .right {
			width: 80%;
			margin-left: -0.5rem;
		}
		.row.input-tips .left {
			box-sizing: border-box;
			width: 75%;
			padding-left: 0.8rem;
			padding-right: 0.8rem;
			margin-left: 0;
			margin-right: 0;
		}
		.row.input-tips .right {
			box-sizing: border-box;
			width: 25%;
			margin-left: 0;
			padding-right: 0;
		}
		.emphasise-leftside  .row  .left,
		.emphasise-rightside .row  .right,
		.emphasise-both-sides .row .left,
		.emphasise-both-sides .row .right,
		.row.emphasise-both-sides  .left,
		.row.emphasise-both-sides  .right,
		.row.emphasise-leftside    .left,
		.row.emphasise-rightside   .right {
			font-size: 0.8rem;
			font-weight: 500;
		}

		.f-block-body .row.select-field .right,
		.f-block-body .row.input-field  .right,
		.row.select-field .right,
		.row.input-field  .right {
			margin-top: 0.8rem;
			margin-bottom: 0.8rem;
			line-height: 1.2rem;
		}
		.row.input-field .left {
			position: relative; /* for positioning of clear input button */
			width: 75%;
			margin: 0;
			padding-left: 0;
			padding-right: 0;
		}
		.row.input-field  .right {
			width: 25%;
			margin-left: -0.5rem;
		}
		.row.select-field .left {
			width: 85%;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
		.row.select-field .right {
			width: 15%;
			margin-left: -0.5rem;
		}

		.row.input-field button[button-action="clear-input-field"][for-input] {
			/* top: 1.5rem; */
			margin-right: 0.25rem;
		}
		.row.input-field.single-side-content button[button-action="clear-input-field"][for-input] {
			margin-right: -0.45rem;
		}
		.row.single-side-content .right,
		.row.single-side-content .left {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}


	.row.input-field.style-traditional {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin: 0;
		border-style: solid;
		border-width: 1px;

		margin-top: -1px;
		border-radius: 0;

		height: 3.2rem;
		}
		.row.input-field.style-traditional.last-of-set {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		.row.input-field.style-traditional.first-of-set {
			margin-top: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		.row.input-field.style-traditional .left {
			padding-left: 0.5rem;
			margin-left: -0.5rem;
			padding-top: 0;
			padding-bottom: 0;
		}
		.row.input-field.style-traditional .input-tip {
			left: 0.5rem;
		}
	.row.input-field.input-verification-code {
		}
		.row.input-field.input-verification-code .left {
			padding-right: 0.5rem;
			width: calc(100% - 6rem);
		}
		.row.input-field.input-verification-code .right {
			padding: 0;
			margin: 0.725rem 0;
			width: 6rem;
			height: 1.75rem;
			line-height: 1.75rem;
			border-width: 0 0 0 1px;
			border-style: solid;
			border-color: inherit;
			box-sizing: border-box;
			position: relative;
		}
		.row.input-field.input-verification-code .right .step {
			margin: 0 0.5rem;
			height: 100%;
			display: none;
			text-align: center;
		}
		.row.input-field.input-verification-code .right .step.current {
			display: block;
		}
		.row.input-field.input-verification-code .right .step button {
			padding: 0;
			margin: 0;
			display: block;
			width: 100%;
			height: 100%;
		}

	.row.input-field.input-image-vcode {
		height: 2.4rem;
		background-color: #e5e5e5;
		}
		.row.input-field.input-image-vcode .left {
			height: 100%;
			padding: 0;
			width: calc(100% - 6rem);
		}
		.row.input-field.input-image-vcode .left input {
			margin: 0;
			box-sizing: border-box;
			padding: 0.25rem 0.5rem;
			height: 100%;
		}
		.row.input-field.input-image-vcode .right {
			margin: 0;
			padding: 0.25rem;
			width: 6rem;
			height: 100%;
			box-sizing: border-box;
		}
		.row.input-field.input-image-vcode .right .image-vcode {
			display: inline-block;
			
			width: 100%;
			height: 100%;

			margin: 0;
			padding: 0;

			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;

			background-color: #ccc;
		}
		.dialog .row {
			margin-left: 1rem;
			margin-right: 1rem;
			padding-left: 0;
			padding-right: 0;
		}
		.dialog .row.input-field.input-image-vcode {
		}
		.dialog .row.input-field.input-image-vcode .left {
			width: 8rem;
		}
		.dialog .row p.input-tip {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 500;
		}

	.row.article {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}


.f-block { /* function-block */
	font-size: 0.7rem;
	font-weight: normal;
	}

	.f-block.large-gap {
		margin-bottom: 0.5rem;
	}

	.f-block > .row {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		}

		.f-block > .row:first-child {
			margin-top: 1.5rem;
		}

		.f-block > .row.input-tips {
			margin-top: 0;
			margin-bottom: 0;
		}

	.f-block-body {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		border-style: solid;
		border-width: 1px 0;
	}

	.f-block.banner {
		border-width: 0;
		padding: 0;
		margin: 0.25rem 0;
	}

	.f-block.banner .f-block-body {
		border-width: 0;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.f-block.snap-top .f-block-body {
		margin-top: -1px;
	}

	.panel > .f-block.snap-top:first-child .f-block-body {
		margin-top: 0px;
	}

	.f-block-body *,
	.f-block-body {
		border-style: solid;
	}

	.f-block-body.hide-borders {
		border-style: none;
	}

	.f-block-body hr {
		margin: 0;
	}
	.f-block-body hr.full-width {
		width: auto;
		margin-left: -0.8rem;
		margin-right: -0.8rem;
	}

	.f-block-body .row {
		border-color: inherit;
		border-width: 1px 0;
		margin-top: -1px;
		margin-bottom: -1px;

		margin-left: 0;
		padding-left: 0;

		box-sizing: content-box;

		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.f-block-body .row.first-shown-in-set,
	.f-block-body > .row:first-child {
		border-top-color: transparent;
	}

	.f-block-body .row.last-shown-in-set,
	.f-block-body > :last-child .row,
	.f-block-body > .row:last-child {
		border-bottom-color: transparent;
	}

	.f-block-body .row.has-lead-icon {
		margin-left: 2rem;
		}

		.f-block-body .row.has-lead-icon .lead-icon {
			position: absolute;
			top: 0.7rem;
			left: -2.3rem;
			width: 1.6rem;
			height: 1.6rem;
			line-height: 1.7rem;
			text-align: center;
			margin: 0;
		}

		.f-block-body .row.has-lead-icon .lead-icon.iconfont {
			font-size: 1.2rem;
		}

	.f-block-body a .row,
	.f-block-body   .row.select-field,
	.f-block-body   .row.call-to-action {
		cursor: pointer;
		padding-right: 1.6rem;
		}

		.f-block-body a .row::after,
		.f-block-body   .row.select-field::after,
		.f-block-body   .row.call-to-action::after {
			font-family: 'iconfont'!important;
			display: block;
			position: absolute;
			right: 0.6rem;
			content: '\e601';
			text-align: right;
			font-size: 0.8rem;
			direction: rtl;
			text-indent: 0;
		}

	.f-block-body .row.input-field .input-tip {
		left: 0;
	}



	.f-block-body .row {
		min-height: 1.4rem;
		}
		.f-block-body .row .left,
		.f-block-body .row .right {
			margin-top: 0rem;
			margin-bottom: 0rem;
			line-height: 1.0rem;
		}
		.f-block-body a .row::after,
		.f-block-body   .row.select-field::after,
		.f-block-body   .row.call-to-action::after {
			height: 1.2rem;
			line-height: 1.2rem;
			/* margin-top: 0.62rem; */
			top: 0.62rem;
		}

	.f-block-body .row.select-field,
	.f-block-body .row.input-field,
	.f-block-body .row.tall {
		font-size: 16px;
		min-height: 2.2rem;
		}
		.f-block-body .row.select-field,
		.f-block-body .row.input-field {
			padding-top: 0;
			padding-bottom: 0;
		}

		.f-block-body .row.select-field .left,
		.f-block-body .row.input-field  .left {
			padding-top: 0;
			padding-bottom: 0;
			height: 3.2rem;
		}
		.f-block-body .row.tall .left,
		.f-block-body .row.tall .right {
			margin-top: 0.3rem;
			margin-bottom: 0.3rem;
			line-height: 1.2rem;
		}
		.f-block-body a .row.tall::after,
		.f-block-body   .row.select-field::after,
		.f-block-body   .row.tall.call-to-action::after {
			height: 1.2rem;
			line-height: 1.2rem;
			/* margin-top: 1rem; */
			top: 1rem;
		}
		.f-block-body .row.input-field.input-verification-code .right {
			margin: 0.725rem 0;
		}


.f-block .tiles {
	}
	.f-block .tiles > a > .tile,
	.f-block .tiles > .tile {
		box-sizing: border-box;
		margin: 0;
		border-style: solid;
		min-height: 4.5rem;
	}
	.f-block .tiles.columns-count-3 > a:nth-child(3n+1) > .tile,
	.f-block .tiles.columns-count-3 > .tile:nth-child(3n+1) {
		width: 33.33%;
		border-width: 0;
	}
	.f-block .tiles.columns-count-3 > a:nth-child(3n) > .tile,
	.f-block .tiles.columns-count-3 > .tile:nth-child(3n) {
		width: 33.33%;
		border-width: 0;
	}
	.f-block .tiles.columns-count-3 > a:nth-child(3n+2) > .tile,
	.f-block .tiles.columns-count-3 > .tile:nth-child(3n+2) {
		width: 33.34%;
		border-width: 0 1px;
	}
	.f-block .tiles > a > .tile .icon,
	.f-block .tiles     > .tile .icon {
		display: block;
		margin: 0.6rem auto 0.4rem auto;
		border-radius: 1000px;
		font-size: 2rem;
		width: 1em;
		height: 1em;
		line-height: 1em;
		overflow: hidden;
	}
	.f-block .tiles > a > .tile .label,
	.f-block .tiles     > .tile .label {
		display: block;
		margin: 0.4rem auto 0.4rem auto;
	}


.hero-content-block {
	position: relative;
	}

	.row > .hero-content-block,
	.hero-content-block {
	position: relative;
	margin: -0.5rem -0.8rem;
	padding: 0.5rem 0.8rem;
	}

	.hero-content-block h3 {
		text-align: center;
		margin: 0.25rem auto 0.75rem;
	}

	.hero-content-block h3 > * {
		display: block;
		clear: both;
		line-height: 1.1;
	}

	.hero-content-block h3 .subject {
		font-size: 1rem;
		font-weight: normal;
	}

	.hero-content-block h3 .hero-word {
		margin-top: 0.5rem;
		font-size: 3.19rem;
	}

	.hero-content-block h3 .subtitle {
		font-size: 0.6rem;
	}

	.hero-content-block .hero-content-features {
		margin: 0.25rem auto;
		text-align: center;
	}

	.hero-content-block .hero-content-features > li {
		margin: 0 0.8rem 0;
	}

	.row.hero-content-block-call-to-action {
		min-height: 1.5rem;
	}

	.hero-content-block.hero-content-block-style-2 {
		}
		.hero-content-block.hero-content-block-style-2 h3 {
			margin-bottom: 0.25rem;
		}
		.hero-content-block.hero-content-block-style-2 h3 .subject {
			font-size: 0.8rem;
			font-weight: normal;
		}
		.hero-content-block.hero-content-block-style-2 h3 .hero-word {
			margin-top: 0.4rem;
			font-size: 2.19rem;
		}
		.hero-content-block.hero-content-block-style-2 h3 .subtitle {
			font-size: 0.6rem;
		}
		.hero-content-block.hero-content-block-style-2 .hero-content-features {
			margin: 0.25rem auto;
			text-align: center;
		}


.count-down-disc {
	position: relative;
	border-radius: 1000px;
	border-width: 1px;
	text-align: center;
	}
	.count-down-disc .count-down-time {
		display: block;
		font-size: 0.78rem;
		line-height: 1rem;
		margin-top: 1.2rem;
	}
	.count-down-disc .label {
		display: block;
		margin: 0 auto;
		font-size: 0.55rem;
	}


.entity-info {
	font-size: 1rem;
	}
	.row > .entity-info {
		padding-top: 0;
		padding-bottom: 0;
	}
	.entity-info > h4 {
		line-height: 1rem;
		display: inline-block;
		margin-right: 0.4rem;
		font-size: 0.8rem;
		font-weight: 500;
		vertical-align: middle;
	}
	.entity-info > h5 {
		line-height: 1rem;
		display: inline-block;
		margin-right: 1.25rem;
		font-size: 0.6rem;
		font-weight: 400;
		vertical-align: middle;
	}
	.entity-info.favorite-entity .favorite-entity-icon {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0.9rem;
		margin: 1rem 0.7rem 0 0;
	}
	.entity-info .entity-body {
		display: block;
	}

	.entity-body .call-to-action {
		display: none;
	}

	.entity-buyable .entity-body .call-to-action,
	.entity-body .f-list {
		display: inline-block;
		vertical-align: top;
	}

	.entity-body .f-list {
		width: 100%;
	}
	.entity-body .call-to-action {
		width: 4.5rem;
		height: 2.4rem;
		text-align: right;
		white-space: nowrap;
		}
		.entity-buyable .entity-body .call-to-action::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0px;
			height: 100%;
		}

	.entity-buyable .entity-body .f-list {
		width: calc(100% - 4.5rem);
		}
		.entity-body .call-to-action.tall {
			height: 4rem;
		}
		.entity-buyable .entity-body .call-to-action > *,
		.entity-buyable .entity-body .call-to-action [role="button"],
		.entity-buyable .entity-body .call-to-action button {
			display: inline-block;
			vertical-align: bottom;
			margin: 0;
		}
		.entity-buyable .entity-body .call-to-action [role="button"],
		.entity-buyable .entity-body .call-to-action button {
			box-sizing: border-box;
			width: 4rem;
			height: 1.6rem;
			padding: 0;
			line-height: 1.58rem;
			font-size: 0.65rem;
			font-weight: 200;
		}
		.entity-buyable.entity-time-limited .entity-body .call-to-action .count-down-disc,
		.entity-buyable.entity-time-limited .entity-body .call-to-action [role="button"].progress-rings-container,
		.entity-buyable.entity-time-limited .entity-body .call-to-action button.progress-rings-container,
		.entity-buyable.entity-time-limited .entity-body .call-to-action .progress-rings-container {
			padding: 0;
			width: 3.75rem;
			height: 3.75rem;
		}

	.entity-body .f-list {
		padding: 0.5rem;
		margin: 0 -0.5rem 0;
		text-align: left;
		}
		.entity-body .f-list > .cell {
			display: inline-block;
			vertical-align: top;
			position: relative;
			padding: 0.25rem;
			margin: -0.25rem;
			width: 33%;
		}
		.entity-body .f-list > .cell * {
			line-height: 1;
			}
			.entity-body .f-list > .cell > .label {
				display: block;
				font-size: 0.6rem;
				font-weight: lighter;
				white-space: nowrap;
				margin-top: 0.1rem;
				margin-bottom: 0.5rem;
			}
			.entity-body .f-list > .cell > .content {
				display: block;
				font-size: 1rem;
				white-space: nowrap;
			}
			.entity-body .f-list > .cell > .content .digits {
				font-weight: 300;
			}

		.entity-body .f-list.labels-at-bottom > .cell {
			padding-bottom: 1rem; 
			}
			.entity-body .f-list.labels-at-bottom > .cell > .label {
				position: absolute;
				bottom: 0;
				margin: 0 auto;
			}
			.entity-body .f-list.labels-at-bottom > .cell > .content {
				display: block;
				font-size: 1rem;
				white-space: nowrap;
			}
			.entity-body .f-list.labels-at-bottom > .cell > .content .digits {
				font-weight: 300;
			}


.user-assets-abstract {
	font-size: 1rem;
	}
	.user-assets-abstract .columns {
		padding: 0.5rem;
		margin: -0.5rem;
		position: relative;
		text-align: center;
	}
	.user-assets-abstract .col {
		position: relative;
		padding: 0.25rem;
		margin: -0.25rem;
		width: 48%;
	}
	.user-assets-abstract .col * {
		line-height: 1;
	}
	.user-assets-abstract .col > .label {
		display: block;
		font-size: 0.6rem;
		font-weight: lighter;
		white-space: nowrap;
		margin-top: 0.15rem;
		margin-bottom: 0.65rem;
	}
	.user-assets-abstract .col > .content {
		display: block;
		font-size: 1rem;
		white-space: nowrap;
	}
	.user-assets-abstract .col > .content .digits {
		font-weight: 300;
	}


.product-abstract {
	}

	.product-abstract .abstract-title {
		}
		.product-abstract .abstract-title h3 {
			font-weight: normal;
			font-size: 0.8rem;
		}
		.product-abstract .abstract-title .call-to-action-label {
			font-weight: normal;
			font-size: 0.65rem;
		}
		.product-abstract .abstract-title::after {
			transform: scale(0.75, 0.75);
		}

	.product-abstract .row.abstract-body {
		}
		.product-abstract a > .row.abstract-body::after {
			content: none;
		}

		.product-abstract .col {
			margin-top: 0.7rem;
			margin-bottom: 0.5rem;
		}

		.product-abstract .col ~ hr.vert {
			margin-top: 0.95rem;
			height: 3.8rem;
		}

		.product-abstract .col.col-1 {
			box-sizing: border-box;
			width: 47%;
			padding: 0 0.4rem;
		}
		.product-abstract .col.col-2 {
			box-sizing: border-box;
			width: 53%;
			margin-right: -1.5rem;
			padding-left: 1.6rem;
			padding-left: 7%;
		}
		.product-abstract .hero-block h4 > * {
			display: block;
			clear: both;
			line-height: 1;
			}
			.product-abstract .hero-block h4 .subject {
				font-size: 0.7rem;
			}
			.product-abstract .hero-block h4 .hero-word {
				margin: 0.25rem 0 0.8rem 0;
				font-size: 1.64rem;
			}
			.product-abstract .hero-block h4 .subtitle {
				font-size: 0.5rem;
			}
			.product-abstract .hero-block h4 > * {
				display: block;
				clear: both;
				line-height: 1;
			}

		.product-abstract .minor-hero-block h4 > * {
			display: block;
			clear: both;
			line-height: 1;
			}
		.product-abstract .minor-hero-block h4 .subject {
			font-size: 0.8rem;
			}
			.product-abstract .minor-hero-block h4 .hero-word {
				margin: 1rem 0 0.2rem 0;
				font-size: 1.2rem;
			}
			.product-abstract .minor-hero-block h4 .hero-word .digits {
				font-size: 1.48rem;
				font-weight: 300;
			}

			.product-abstract .minor-hero-block h4 .subtitle {
				font-size: 0.5rem;
			}

		.product-abstract .features-block {
			padding-top: 0.1rem;
			padding-bottom: 0.1rem;
			}
			.product-abstract .features-block .f-list > li {
				margin: 0.5rem 0;
			}
			.product-abstract .features-block .f-list > li > * {
				display: inline-block;
			}
			.product-abstract .features-block .f-list > li > .label {
				width: 3.2rem;
				padding: 0.1rem 0.4rem;
				margin: -0.1rem -0.4rem;
				margin-right: 0;
			}
			.product-abstract .features-block .f-list > li > p {
				padding: 0.1rem 0.4rem;
				margin: -0.1rem -0.4rem;
			}


.tab-panel-set {
	}

	.tab-list {
		width: 100%;
		}

		.tab-list.tabs-count-2 > li {
			width: 50%;
			text-align: center;
			padding: 0.5rem;
			box-sizing: border-box;
		}

		.tab-list > li > .label {
			display: inline-block;
			margin: 0.15rem 0;
			line-height: 1.2rem;
		}


	.panel-group {
	}

	.panel.current {
		/* padding: 1rem 0; */
	}


.app-bg-layer {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	}


.app-fg-layer {
	position: relative;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	}


.page {
	box-sizing: border-box;
	max-width: 768px;
	height: 100%;
	margin: auto;
	overflow: auto;
	}

	/*
	  .page::before is for preventing first f-block margin-top
	  from effecting .page layout, while .page-body is omitted.

	  .page-body::before is for preventing first f-block margin-top
	  from effecting .page-body layout.

	  .page-header::before is for preventing first row margin-top
	  from effecting .page-header layout
	*/
	.page-body::before,
	.page-header::before,
	.page::before {
		content: '';
		display: block;
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: transparent;
		margin-bottom: -1px;
	}
	.page-header::after {
		content: '';
		display: block;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: transparent;
		margin-top: -1px;
	}

	.page-footer {
		border-style: solid;
		border-width: 1px 0 0 0;
	}

	.page-body {
		box-sizing: border-box;
		min-height: 100%;
		position: relative;
		padding-bottom: 6rem;
	}

	.page.fixed-page-header .page-header {
		left: 0;
		top: 0;
		position: fixed;
		width: 100%;
		z-index: 45;
	}

	.page.fixed-page-footer .page-footer {
		left: 0;
		bottom: 0;
		position: fixed;
		width: 100%;
		z-index: 46;
	}

	.page.fixed-page-header,
	.page.fixed-page-header.has-page-header {
		padding-top: 2.4rem;
	}

	.page.fixed-page-footer,
	.page.fixed-page-footer.has-page-footer {
		padding-bottom: 3.3rem;
	}


	.page-header {
		font-size: 20px;
		text-align: center;
		}

		.page-header .row {
			margin: 0;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		.page-header .row.header-bar {
			min-height: 1.4rem;
		}

		.page-header .row.header-bar .center {
			display: block;
			padding: 0;
			margin: 0 4rem;
			min-height: 1.4rem;
			line-height: 1.4rem;
			text-align: center;
		}

		.page-header .row.header-bar .left,
		.page-header .row.header-bar .right {
			display: block;
			position: absolute;
			top: 0;
			padding: 0;
			margin: 0;
		}
		.page-header .row.header-bar .left {
			left: 0;
		}
		.page-header .row.header-bar .right {
			right: 0;
		}
		.page-header .row.header-bar .left *,
		.page-header .row.header-bar .right * {
			margin: 0;
		}
		.page-header .row.header-bar button,
		.page-header .row.header-bar [role="button"] {
			border-width: 0;
			width: 2.4rem;
			height: 2.4rem;
			line-height: 2.4rem;
			padding: 0;
			text-align: center;
			background-color: transparent;
		}


	.page-body-stamp {
		width: 100%;
		position: absolute;
		bottom: 0.6rem;
		text-align: center;
		}

		.page-body-stamp .row {
			box-sizing: border-box;
			width: 100%;
			margin: 0;
			padding: 0 0.8rem;
			text-align: center;
		}

		.page-body-stamp [role="button"],
		.page-body-stamp button {
			font-size: 0.8rem;
			line-height: 1.2rem;
			padding: 0.2rem 0.8rem;
			margin: 0.5rem auto;
			background-color: transparent;
			border-radius: 1000px;
		}

		.page-body-stamp [role="button"] .iconfont,
		.page-body-stamp button .iconfont {
			margin: 0 0 0 -0.3rem;
		}


.copyright {
	font-size: 0.6rem;
	letter-spacing: 0.03em;
	transform: scale(0.81, 0.81);
	}


.slot {
	}
	.slot.slot-bank-card {
		position: relative;
		margin: 0.8rem;
		display: block;
		height: 5.5rem;
		border-radius: 0.2rem;
		overflow: hidden; /* for rounded corners */
	}
	.slot.slot-bank-card .icon.icon-of-bank {
		position: absolute;
		left: 0.9rem;
		top: 0.9rem;

		display: block;
		border-radius: 1000px;
		width: 1.5rem;
		height: 1.5rem;
	}
	.slot.slot-bank-card .icon.icon-of-bank::before {
		position: absolute;
		left: 0rem;
		top: 0rem;

		margin: 0.1rem;

		display: block;
		transform: translate(-0.6rem, -0.6rem) scale(0.6333, 0.6333);
	}
	.slot.slot-bank-card .caption-of-bank {
		position: absolute;
		left: 3rem;
		top: 0.9rem;
		font-weight: normal;
		font-size: 0.9rem;
		line-height: 1.5rem;
		letter-spacing: 0.1em;
	}
	.slot.slot-bank-card .bank-card-number {
		position: absolute;
		left: 3rem;
		top: 3rem;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1;
		letter-spacing: 0.15em;
	}


#pl-taijs-service-contact .dialog-header {
	display: none;
	}
	#pl-taijs-service-contact .main {
		text-align: center;
		font-weight: normal;
		font-size: 0.8rem;
		line-height: 1.2;
	}
	#pl-taijs-service-contact .main .phone {
		font-weight: bold;
		/* font-size: 1rem; */
	}


#page-home {
	}

	#page-home .page-body {
		min-height: calc(100% - 5rem);
	}

	#page-home .page-header {
		position: relative;
		height: 6.4rem;
		/* min-height: 6.4rem; */
		}

		#page-home .page-header *,
		#page-home .page-header {
			transition-property: width, height, min-width, min-height, background-size, background-position, margin, padding, left, right, top, bottom, color, background-color;
		}
		#page-home .page-header .row.sign-up-sign-in-buttons {
			z-index: 5;
		}
		#page-home .page-header .row.user-account-toolar {
			z-index: 4;
		}
		#page-home .page-header .row.taijs-brand {
			z-index: 3;
		}
		#page-home .page-header .row.user-assets-abstract {
			z-index: 2;
		}


		#page-home .page-header .row.taijs-brand {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 1rem;
			margin-bottom: 0.6rem;
		}
		#page-home .page-header .row.sign-up-sign-in-buttons {
			padding-top: 0;
			padding-bottom: 0;
			margin: 0.25rem 1.25rem 0.75rem 1.25rem;
		}
		#page-home .page-header .row.sign-up-sign-in-buttons > .content {
			padding: 0;
			margin: 0;
			white-space: nowrap;
			background-color: inherit;
		}
		#page-home .page-header .row.sign-up-sign-in-buttons [role="button"],
		#page-home .page-header .row.sign-up-sign-in-buttons button {
			padding-top: 0;
			padding-bottom: 0;
			margin: 0.25rem 0.25rem;
			height: 2rem;
			line-height: 1.9rem;
			line-height: calc(2rem - 2px);
			box-sizing: border-box;
			width: calc(50% - 0.5rem);
			font-size: 0.9rem;
		}
		#page-home .page-header .taijs-logo,
		#page-home .page-header .taijs-slogan {
			display: inline-block;
			vertical-align: top;
			width: 5rem;
			height: 1.4rem;
			background-position: center;
		}
		#page-home .page-header .taijs-logo {
			margin: 0 0.25rem 0 0.7rem;
			background-size: auto 100%;
		}
		#page-home .page-header .taijs-slogan {
			margin: 0;
			background-position: left;
			background-size: 100% auto;
		}

		#page-home .page-header .row.user-account-toolar {
			display: none;
			width: 100%;
			font-size: 0.7rem;
			text-align: right;
			margin: 0 0 2.5rem 0;
			padding: 0;
			height: 0;
			position: relative;
			right: 0;
			top: 0;
			overflow: visible;
			}
			#page-home .page-header .row.user-account-toolar .toolbar {
				height: 1rem;
				line-height: 1rem;
				padding: 0.75rem 0.6rem 0.75rem 0.1rem;
				white-space: nowrap;
				text-align: right;
				background-color: inherit;
			}
		#page-home .page-header .row.user-assets-abstract {
			display: none;
			position: relative;
			font-size: 1rem;
			padding-top: 0.2rem;
			padding-bottom: 0.6rem;
			}
			#page-home .page-header .row.user-assets-abstract .columns {
				margin: 0;
				padding: 0;
			}
			#page-home .page-header .row.user-assets-abstract .col {
				position: relative;
				margin: 0.5rem 0 0 0;
				height: 2.5rem;
				padding: 0.25rem 0.25rem 1.25rem;
			}
			#page-home .page-header .row.user-assets-abstract .col ~ hr.vert {
				height: 2.1rem;
				margin-top: 0.8rem;
				opacity: 0.2;
			}
			#page-home .page-header .row.user-assets-abstract .col * {
				line-height: 1;
			}
			#page-home .page-header .row.user-assets-abstract .col .content {
				font-size: 0.8rem;
			}
			#page-home .page-header .row.user-assets-abstract .col.col-1 {
				width: 37%;
			}
			#page-home .page-header .row.user-assets-abstract .col.col-2 {
				width: 29%;
			}
			#page-home .page-header .row.user-assets-abstract .col.col-3 {
				width: 34%;
			}
			#page-home .page-header .row.user-assets-abstract .col > .label {
				margin: 0;
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				text-align: center;
				bottom: 0.35rem;
				font-size: 0.6rem;
				font-weight: lighter;
				white-space: nowrap;
				opacity: 0.5;
			}
			#page-home .page-header .row.user-assets-abstract .col.col-1 > .label {
				padding-right: 1.25rem; /* make some room for eye icon */
			}
			#page-home .page-header .row.user-assets-abstract .col.col-1 > .label .sensitive-content-status-icon {
				position: absolute;
				width: 1rem;
				height: 1rem;
				margin: -0.2rem 0.1rem;
			}

			@media only screen and (max-width: 340px) {
				/* #page-home .page-header .row.user-assets-abstract .col.col-1 > .label {
					right: 1.6rem;
				} */
				#page-home .page-header .row.user-assets-abstract .col.col-1 .sensitive-value-replacement {
					font-size: 0.7rem;
				}
			}


	.user-has-logged-in #page-home .page-header .row.sign-up-sign-in-buttons {
		display: none;
		}

		.user-has-logged-in #page-home .page-header .row.user-account-toolar {
			display: block;
		}

		.user-has-logged-in #page-home .page-header .row.user-assets-abstract {
			display: block;
		}

	#page-home.page-header-in-compact-mode {
		padding-top: 2.5rem;
		}
		#page-home.page-header-in-compact-mode .page-body {
			min-height: calc(100% - 2.5rem);
		}
		#page-home.page-header-in-compact-mode .page-header {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2.5rem;
			z-index: 100;
			overflow: hidden;
		}

		#page-home.page-header-in-compact-mode .page-header .row.user-assets-abstract {
			display: none;
		}
		#page-home.page-header-in-compact-mode .page-header .row.user-account-toolar {
			margin-bottom: 0;
		}
		#page-home.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons {
			box-sizing: border-box;
			width: 100%;
			height: 0;
			overflow: visible;
			text-align: right;
			white-space: nowrap;
			padding: 0;
			margin: 0 0 2.5rem 0;
		}
		#page-home.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons > .content {
			display: inline-block;
			width: 9.6rem;
			text-align: right;
			padding: 0.25rem;
		}
		#page-home.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons [role="button"],
		#page-home.page-header-in-compact-mode .page-header .row.sign-up-sign-in-buttons button {
			width: 4.3rem;
			height: 1.5rem;
			line-height: 1.4rem;
			line-height: calc(1.5rem - 2px);
			font-size: 0.7rem;
		}


	.user-has-logged-in #page-home .page-header .row.taijs-brand,
	#page-home.page-header-in-compact-mode .page-header .row.taijs-brand {
		position: absolute;
		margin-left: 0.1rem;
		margin-top: 0.7rem;
		margin-bottom: 0;
		}

	.user-has-logged-in #page-home .page-header .taijs-logo,
	.user-has-logged-in #page-home .page-header .taijs-slogan,
	#page-home.page-header-in-compact-mode .page-header .taijs-logo,
	#page-home.page-header-in-compact-mode .page-header .taijs-slogan {
		width: 4.8rem;
		height: 1.1rem;
		background-position: center;
	}
	.user-has-logged-in #page-home .page-header .taijs-logo,
	#page-home.page-header-in-compact-mode .page-header .taijs-logo {
		margin: 0;
	}
	.user-has-logged-in #page-home .page-header .taijs-slogan,
	#page-home.page-header-in-compact-mode .page-header .taijs-slogan {
		margin: 0;
	}


#page-account-sign-up-sign-in {
	}
	#page-account-sign-up-sign-in .page-body {
		min-height: calc(100% - 5rem);
	}
	#page-account-sign-up-sign-in .page-header .taijs-logo {
		margin: 0.5rem auto 0.25rem auto;
		width: 6.5rem;
		height: 1.3rem;
		background-position: left;
		background-size: auto 100%;
	}
	#page-account-sign-up-sign-in .page-header .taijs-slogan {
		margin: 0.25rem auto 0.5rem auto;
		width: 6.5rem;
		height: 1.35rem;
		background-size: 100% auto;
	}
	#page-account-sign-up-sign-in .panel .f-block:first-child {
		margin-top: 1rem;
	}