html {
	color: #333;
	}


::-moz-selection {
	color: white!important;
	background-color: black!important;
	}

	::selection {
		color: white!important;
		background-color: black!important;
	}


::-webkit-input-placeholder { /* WebKit browsers */
	color: #999;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #999;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #999;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #999;
	}


*[role="button"].bg-transparent,
.bg-transparent {
	background-color: transparent;
	}


.color-positive {
	color: #8ac45f;
	}


.tip {
	color: #999;
}

.copyright p {
	color: #999;
}

em, .em-digits {
	color: #ff7200;
	}

a, a:visited {
	color: #4285f4;
	}

input {
	color: black;
	}

	select:hover,
	option:hover,
	input:hover,
	label:hover {
		border-color: #4285f4;
	}

	select:active,
	select:focus,
	input:active,
	input:focus,
	label:active,
	label:focus {
		border-color: #4285f4;
	}

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	a[role="button"],/* this line is for ie8 */
	a[role="button"],
	button {
		color: white;
		border-color: #4285f4;
		background-color: #4285f4;
	}

	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	[role="button"]:hover,
	button:hover {
		background-color: #3f93ff;
	}

	input[type="button"]:disabled:hover,
	input[type="submit"]:disabled:hover,
	input[type="reset"]:disabled:hover,
	[role="button"]:disabled:hover,
	button:disabled:hover,
	input[type="button"]:disabled,
	input[type="submit"]:disabled,
	input[type="reset"]:disabled,
	[role="button"]:disabled,
	button:disabled {
		color: #bdbdbd;
		border-color: #ddd;
		background-color: #ddd;
	}

	input[type="reset"].bg-transparent,
	input[type="button"].bg-transparent,
	input[type="submit"].bg-transparent,
	[role="button"].bg-transparent,
	button.bg-transparent {
		color: #4285f4;
	}

	input[type="reset"].bg-transparent:hover,
	input[type="button"].bg-transparent:hover,
	input[type="submit"].bg-transparent:hover,
	[role="button"].bg-transparent:hover,
	button.bg-transparent:hover {
		background-color: #e5f1ff;
	}

	input[type="reset"].bg-transparent.color-white,
	input[type="button"].bg-transparent.color-white,
	input[type="submit"].bg-transparent.color-white,
	[role="button"].bg-transparent.color-white,
	button.bg-transparent.color-white {
	    color: white;
	    border-color: white;
	}

	input[type="reset"].bg-transparent.color-white:hover,
	input[type="button"].bg-transparent.color-white:hover,
	input[type="submit"].bg-transparent.color-white:hover,
	[role="button"].bg-transparent.color-white:hover,
	button.bg-transparent.color-white:hover {
	    background-color: rgba(255, 255, 255, 0.16)!important;
	}

	input[type="reset"].simple-look,
	input[type="button"].simple-look,
	input[type="submit"].simple-look,
	button.simple-look .iconfont,
	button.simple-look {
		color: inherit;
		background-color: transparent;
	}

	.dialog-footer input[type="reset"],
	.dialog-footer input[type="button"],
	.dialog-footer input[type="submit"],
	.dialog-footer button {
		color: #333;
	}

	.dialog-footer input[type="reset"].promoted,
	.dialog-footer input[type="button"].promoted,
	.dialog-footer input[type="submit"].promoted,
	.dialog-footer button.promoted,
	.dialog-footer input[type="reset"][button-action="confirm"],
	.dialog-footer input[type="button"][button-action="confirm"],
	.dialog-footer input[type="submit"][button-action="confirm"],
	.dialog-footer button[button-action="confirm"] {
		color: #4285f4;
	}

	.page-body-stamp input[type="button"]:hover,
	.page-body-stamp input[type="submit"]:hover,
	.page-body-stamp input[type="reset"]:hover,
	.page-body-stamp [role="button"]:hover,
	.page-body-stamp button:hover,
	.page-body-stamp input[type="button"],
	.page-body-stamp input[type="submit"],
	.page-body-stamp input[type="reset"],
	.page-body-stamp [role="button"],
	.page-body-stamp button {
		color: #666;
		border-color: #dfdfdf;
		background-color: transparent;
	}

	input[type="reset"].simple-look *,
	input[type="reset"].simple-look,
	input[type="button"].simple-look *,
	input[type="button"].simple-look,
	input[type="submit"].simple-look *,
	input[type="submit"].simple-look,
	button.simple-look *,
	button.simple-look {
		/* color: #4285f4; */
		transition-property: background-color;
	}

	.item-filters button.simple-look {
		color: #4285f4;
	}

	input[type="reset"].simple-look:hover .iconfont,
	input[type="reset"].simple-look:hover,
	input[type="button"].simple-look:hover .iconfont,
	input[type="button"].simple-look:hover,
	input[type="submit"].simple-look:hover .iconfont,
	input[type="submit"].simple-look:hover,
	button.simple-look:hover .iconfont,
	button.simple-look:hover {
		color: #4285f4;
		/* background-color: #e5f1ff; */
	}

	.pagination [role="button"],
	.pagination button {
		color: #666;
		background-color: transparent;
		}

		.pagination a[role="button"].page-number {
			border-color: transparent;
		}
		.pagination [role="button"],
		.pagination [role="button"].page-number:link,
		.pagination button {
			border-color: #dadada;
		}

		.pagination [role="button"].page-number:hover {
			background-color: transparent;
		}
		.pagination [role="button"]:hover,
		.pagination [role="button"].page-number:link:hover,
		.pagination button:hover {
			background-color: #f3f3f3;
		}

		.pagination [role="button"].page-number.current,
		.pagination button.page-number.current {
			color: white;
			border-color: #4285f4;
			background-color: #4285f4;
		}
		.pagination [role="button"].current:hover,
		.pagination button.current:hover {
			background-color: #3f93ff;
		}

	a[role="button"]:active,
	a[role="button"]:focus,
	button:active,
	button:focus {
		outline-color: #4285f4;
	}


button.button-x {
	background-color: transparent;
	color: white;
	}

	button.button-x:hover {
		background-color: transparent;
	}

	button.button-x:before {
		background-color: white;
	}

button[button-action="clear-input-field"]:hover,
button[button-action="clear-input-field"] {
	color: white;
	background-color: #adadad;
}


label.deco-input {
	}

	input[type="radio"]    + label.deco-input[for],
	input[type="checkbox"] + label.deco-input[for] {
		background-color: transparent;
		}
		input[type="radio"] + label.deco-input[for]::before {
			/* color: #c5c5c5; */
			}
			input[type="radio"]:hover + label.deco-input[for]::before,
			input[type="radio"] + label.deco-input[for]:hover::before {
				color: #333;
			}
			input[type="radio"]:checked     + label.deco-input[for]::before {
				border-color: #4285f4;
			}
			input[type="radio"]:checked  + label.deco-input[for]::after {
				background-color: #4285f4;
			}


		input[type="checkbox"] + label.deco-input[for]::before {
			/* border-color: #c5c5c5; */
			}
			input[type="checkbox"]:hover + label.deco-input[for]::before,
			input[type="checkbox"] + label.deco-input[for]:hover::before {
				border-color: #333;
			}
			input[type="checkbox"]:checked  + label.deco-input[for]::before {
				border-color: #4285f4;
			}
			input[type="checkbox"]:checked  + label.deco-input[for]::after {
				color: #4285f4;
			}


		.selected input[type="radio"] + label.deco-input[for]::before {
			border-color: white;
		}
		.selected input[type="radio"] + label.deco-input[for]::after {
			background-color: white;
		}
		.selected input[type="checkbox"] + label.deco-input[for]::before {
			border-color: rgba(255, 255, 255, 0.75);
			background-color: transparent;
		}
		.selected:hover input[type="checkbox"]       + label.deco-input[for]::before,
		.selected       input[type="checkbox"]:hover + label.deco-input[for]::before,
		.selected       input[type="checkbox"]       + label.deco-input[for]:hover::before {
			border-color: white;
		}
		.selected input[type="checkbox"] + label.deco-input[for]:after {
			color: white;
		}


.corner-marker {
	color: white;
	border-color: #ff291d;
	background-color: #ff291d;
	}


.dialog {
	}

	.dialog-header,
	.dialog-footer,
	.dialog-body {
		background-color: white;
		}

	.dialog-footer {
		border-color: #dadada;
	}


.f-block { /* function-block */
	color: #666;
	}
	.f-block-body {
		background-color: white;
	}

	.row.input-field.style-traditional,
	.f-block-body {
		border-color: #e5e5e5;
	}
	.f-block-body .row {
		border-color: #f1f1f1;
	}
	.f-block-body,
	.f-block-body a .row {
		color: #333;
	}
	a .row::after,
	  .row.call-to-action::after {
		color: #999;
	}
	.row.select-field .right,
	.row.input-field  .right,
	.row .left {
		color: #999;
	}
	.emphasise-both-sides .left,
	.emphasise-both-sides .right,
	.emphasise-leftside   .left,
	.emphasise-rightside  .right {
		color: inherit;
		font-weight: normal;
	}


.tab-panel-set {
	}

	.tab-list > li {
		background-color: #f2f2f2;
	}

	.tab-list > li.current {
		color: #4285f4;
		background-color: white;
	}
	.panel {
		background-color: white;
	}

	.tab-panel-set.tab-style-buttons .tab-list > li {
		border-color: #4285f4;
	}





.page {
	color: #666;
	background-color: #f1f1f1;
	}
	.page-header .row,
	.page-header {
		color: white;
		background-color: #4285f4;
	}
	.page-footer {
		border-color: #e5e5e5;
		background-color: white;
	}

.page#page-account-sign-up-succeeded,
.page#page-account-sign-up-sign-in {
	background-color: white;
}